.custom-btn {
    padding: 10px 20px;
    font-size: 16px;
	border: 2px solid rgb(132, 132, 132);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.custom-btn .icon-btn {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: currentColor;
}

.custom-btn.default {
    background-color: #F5DEB3; /* Beige */
    color: #000000;
}

.custom-btn.default:hover {
    background-color: #E6C99F;
}

.custom-btn.default:active {
    background-color: #D7BA8B;
}

.custom-btn.primary {
    background-color: #568ee7; /* Brown */
    color: #FFFFFF;
}

.custom-btn.primary:hover {
    background-color: #5c61f5;
}

.custom-btn.primary:active {
    background-color: #3700ff;
}

.custom-btn.warning {
    background-color: #e996a2; /* Light Red */
    color: #000000;
}

.custom-btn.warning:hover {
    background-color: #FFA2B1;
}

.custom-btn.warning:active {
    background-color: #FF8EA1;
}