<div class="adventure-modal-component" id="adventure-modal-container">
	<style>
		.adventure-modal-component {
			font-family: Arial, sans-serif;
			background-color: rgba(0, 0, 0, 0.5);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 400px;
		}

		.adventure-modal-content {
			background-color: #ffffff;
			border: 1px solid #a9c3c7;
			border-radius: 5px;
			padding: 20px;
			width: 1000px;
			width: 60%;
			display: flex;
			flex-direction: column;
		}

		.adventure-modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 1em;
			border-bottom: 1px solid #ccc;
			height: 1em;
		}

		.adventure-modal-title {
			font-size: 1.2em;
			font-weight: bold;
		}

		.adventure-modal-close {
			background: none;
			border: none;
			font-size: 1.5em;
			cursor: pointer;
		}

		.adventure-modal-body {
			display: flex;
		}

		.adventure-list-column {
			height: 600px;
			min-width: 300px;
			overflow-y: auto;
		}

		.adventure-preview-column {
			flex: 1;
			height 300px;
			overflow-y: auto;
		}

		.adventure-preview {
			border-left: 1px solid #ccc;
			height: 100%;
			margin-left: auto;
			padding-left: 10px;
		}

		.adventure-modal-footer {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;
		}

		.adventure-modal-button {
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.1s;
		}

		.adventure-modal-button.load {
			background-color: #4CAF50;
			color: white;
			margin-left: auto;
		}

		.adventure-modal-button.create {
			background-color: #2196F3;
			color: white;
			margin-right: auto;
		}

		.adventure-modal-button:hover {
			opacity: 0.8;
		}
	</style>
	<div class="adventure-modal-content">
		<div class="adventure-modal-header">
			<h2 class="adventure-modal-title">Adventure Selection</h2>
			<button class="adventure-modal-close" hx-get="/ui/clear" hx-trigger="click"
				hx-target="#adventure-modal-container" hx-swap="outerHTML:remove">&times;</button>
		</div>
		<div class="adventure-modal-body">
			<div class="adventure-list-column" hx-get="/adventures" hx-trigger="load from:#adventure-modal-container">
				<!-- Adventure list will be populated here -->
			</div>
			<div class="adventure-preview-column">
				<div class="adventure-preview">
					<!-- Adventure preview will be populated here -->
				</div>
			</div>
		</div>
		<div class="adventure-modal-footer">
			<button class="adventure-modal-button create" hx-post="/adventures" hx-trigger="click"
				hx-target=".adventure-list-column">
				Create New Adventure
			</button>
			<button class="adventure-modal-button load" hx-get="/adventures/" hx-trigger="click">
				Load Adventure
			</button>
		</div>
	</div>
</div>