<div class="adventure-list-component" id="id-{uniqueId}">
	<style>
		.adventure-list-component {
			display: block;
			font-family: Arial, sans-serif;
			margin: 0;

		}

		.adventure-list-component #adventure-list-table {
			background-color: #ffffff;
			border: 1px solid #a9c3c7;
			border-radius: 5px;
			cursor: pointer;
		}

		.adventure-list-component #adventure-list-header {
			display: flex;
			flex-direction: row;
			padding: 10px;
			justify-content: space-between;
			background: #dcd0c0;
			border-radius: 5px 5px 0 0;
			cursor: default;
			font-weight: bold;
		}

		.adventure-list-component #adventure-list-header-name {
			flex: 1;
		}

		.adventure-list-component #adventure-list-header-days {
			text-align: center;
			flex: 0 0 100px;
		}

		.adventure-list-component #adventure-list-header-action {
			width: 24px;
		}

		.adventure-list-component .adventure-list-item {
			display: flex;
			flex-direction: row;
			padding: 10px;
			border-top: 1px solid #ccc;
			justify-content: space-between;
			align-items: center;
			transition: background-color 0.1s;
		}

		.adventure-list-component .adventure-list-item:hover {
			background-color: #e1e6e7;
		}

		.adventure-list-component .adventure-list-item:focus {
			background-color: #a9c3c7;
			outline: none;
		}

		.adventure-list-component .adventure-list-item-name {
			flex: 1;
		}

		.adventure-list-component .adventure-list-item-days {
			flex: 0 0 80px;
			text-align: center;
		}

		.adventure-list-component .adventure-list-delete-btn {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			border: none;
			cursor: pointer;
			transition: background-color 0.1s;
		}

		.adventure-list-component .adventure-list-delete-btn svg {
			width: 24px;
			height: 24px;
		}

		.adventure-list-component .adventure-list-delete-btn:hover circle {
			fill: #f44336;
		}
	</style>
	<div id="adventure-list-table">
		<div id="adventure-list-header">
			<span id="adventure-list-header-name">Name</span>
			<span id="adventure-list-header-days">Days</span>
			<span id="adventure-list-header-action"></span>
		</div>
		{#for adventure in adventures}
		<div class="adventure-list-item" tabindex="0"
			 hx-get="/adventures/{adventure.id}/info"
			 hx-trigger="click[js:\{querySelector('.adventure-preview') !== null\}]"
			 hx-target=".adventure-preview">
			<span class="adventure-list-item-name">{adventure.name}</span>
			<span class="adventure-list-item-days">{adventure.days} days</span>
			<button class="adventure-list-delete-btn" hx-delete="/adventures/{adventure.id}" hx-target="#id-{uniqueId}"
				hx-swap="outerHTML">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<circle cx="12" cy="12" r="12" fill="#808080" />
					<path d="M7 7L17 17M7 17L17 7" stroke="white" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</div>
		{/for}
		{#if !adventures}
		<p>No adventures found. Try creating one.</p>
		{/if}
	</div>
</div>