<div class="component" id="crew-member-form">
    <style>
        .component {
           font-family: Arial, sans-serif;
           background-color: rgba(0, 0, 0, 0.5);
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           min-height: 400px;
        }

        .content {
           background-color: #ffffff;
           border: 1px solid #a9c3c7;
           border-radius: 5px;
           padding: 20px;
           width: 60%;
           max-width: 600px;
           display: flex;
           flex-direction: column;
        }

        .header {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding-bottom: 1em;
           border-bottom: 1px solid #ccc;
           height: 1em;
        }

        .title {
           font-size: 1.2em;
           font-weight: bold;
        }

        .close {
           background: none;
           border: none;
           font-size: 1.5em;
           cursor: pointer;
        }

        .body {
           margin-top: 20px;
        }

        .crew-member-form-group {
           margin-bottom: 15px;
        }

        .crew-member-form-group label {
           display: block;
           margin-bottom: 5px;
        }

        .crew-member-form-group input,
        .crew-member-form-group select {
           width: 100%;
           padding: 8px;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box;
        }

        .footer {
           display: flex;
           justify-content: flex-end;
           margin-top: 20px;
        }

        .button {
           padding: 10px 15px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           transition: background-color 0.1s;
        }

        .button.submit {
           background-color: #4CAF50;
           color: white;
        }

        .submit > span {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .submit > span > span {
            margin-right: 5px;
        }


        .button.submit:hover {
           opacity: 0.8;
        }

    </style>
    <div class="content">
        <div class="header">
            <h2 class="title">New Crew Member for {adventure.name}</h2>
            <button class="close"
                    hx-on--before-request="htmx.remove(htmx.find('#crew-member-form')); event.preventDefault();"
                    hx-get="foo"
                    hx-trigger="click, keyup[event.key == 'Escape'] from:document">&times;</button>
        </div>
        <div class="body">
            <div class="crew-member-form-group">

            </div>
            <form id="create-crew-member-form"
                  hx-post="/objects"
                  hx-vals='{ "type": "{type}", "parentId": "{adventure.id}" }'
                  hx-target="closest #{callerId}"
                  hx-swap="outerHTML">
                <div class="crew-member-form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="crew-member-form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age"  hx-on-input="if (this.value < 1) this.value = 1;" required>
                </div>
                <div class="crew-member-form-group">
                    <label for="height">Height (cm):</label>
                    <input type="number" id="height" name="height"  hx-on-input="if (this.value < 1) this.value = 1;" required>
                </div>
                <div class="crew-member-form-group">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" id="weight" name="weight"  hx-on-input="if (this.value < 1) this.value = 1;" required>
                </div>
                <div class="crew-member-form-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" required>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
                <div class="crew-member-form-group">
                    <label for="activity">Physical Activity:</label>
                    <select id="activity" name="activity" required>
                        <option value="SEDENTARY">Sedentary</option>
                        <option value="MILD">Mild</option>
                        <option value="MODERATE">Moderate</option>
                        <option value="HEAVY">Heavy</option>
                        <option value="VERY_HEAVY">Very Heavy</option>
                    </select>
                </div>
                <div class="crew-member-form-group">
                    <label for="kCalStrategy">KCal Calculation Strategy:</label>
                    <select id="kCalStrategy" name="strategy" required>
                        <option value="HARRIS_BENEDICT_ORIGINAL">Harris-Benedict Original</option>
                        <option value="HARRIS_BENEDICT_REVISED">Harris-Benedict Revised</option>
                        <option value="MIFFLIN_ST_JEOR">Mifflin-St Jeor</option>
                        <!-- Add other strategies as needed -->
                    </select>
                </div>
                <div class="footer">
                    <button type="submit" class="button submit"><span><span>Create Crew Member</span><img width="25" height="25" class="icon" src="/icons/addPerson.svg"/></span></button>
                </div>
            </form>
        </div>
    </div>
</div>