
{#fragment id=li rendered=false}
        <div class="item focusable" tabindex="0" id="{id}"
             hx-on--after-on-load="
        event.detail.successful
        && event.detail.elt == this.closest('.list').querySelector('delete-btn')
        && htmx.remove(this)"
             hx-on-click="
        const buffer = this.closest('.list').querySelector('#__lid_buffer__');
        if (buffer.value != '{id}') {
            buffer.value = '{id}';
            htmx.trigger(buffer, 'valueChanged');
        }
        {#if type == "meal"}htmx.trigger('#info-container-meal', 'meal-item-clicked', { id: '{id}'});{/if}
        ">

        {#switch type}
            {#case 'crewmember'}
                {#include $columnsCrewMember item /}
            {#case 'adventure'}
                {#include $columnsAdventure item /}
            {#case 'meal'}
                {#include $columnsMeal item /}
            {#case 'ingredient'}
                {#include $columnsIngredient item /}
        {/switch}

        </div>
{/fragment}
    <!-- crewmember -->
    {#fragment id=headersCrewMember rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">age</div>
        <div class="column-header">height</div>
        <div class="column-header">weight</div>
        <div class="column-header">intensity</div>
        <div class="column-header">KCal/day</div>
    {/fragment}
    {#fragment id=columnsCrewMember rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{item.age}</div>
        <div class="column-value">{item.height}cm</div>
        <div class="column-value">{item.weight}kg</div>
        <div class="column-value">{item.activity}</div>
        <div class="column-value">{item.dailyKCalNeed}</div>
    {/fragment}
    <!-- adventure -->
    {#fragment id=headersAdventure rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
    {/fragment}
    {#fragment id=columnsAdventure rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{item.weight}kg</div>
        <div class="column-value">{item.formattedEnergyDensity}</div>
    {/fragment}
    <!-- meal -->
    {#fragment id=headersMeal rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
    {/fragment}
    {#fragment id=columnsMeal rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{parent.getChildWeights().get(item.id)}kg</div>
        <div class="column-value">{item.formattedEnergyDensity}</div>
    {/fragment}
    <!-- ingredient -->
    {#fragment id=headersIngredient rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
    {/fragment}
    {#fragment id=columnsIngredient rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{parent.getChildWeights().get(item.id)}kg</div>
        <div class="column-value">{item.FormattedEnergyDensity}</div>
    {/fragment}



<div class="list" id="__lid_list__">
    <style>
        .list {
            display: flex;
            flex-direction: column;
            flex: 1;
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #ffffff;
            border: 1px solid #a9c3c7;
            border-radius: 5px;
            cursor: pointer;
        }

        .main-content {
            flex:1;
            display: flex;
            flex-direction: column;
            overflow: hidden; /* Hide overflow on main-content */
        }

        .column-headers-container {
            background: #dcd0c0;
            border-radius: 5px 5px 0 0;
            padding: 10px;
            font-weight: bold;
            cursor: default;
            border-bottom: #ccc 1.5px solid;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .items {
           overflow-y: auto;
        }

        .item {
            display: flex;
            flex-direction: row;
            padding: 10px;
            border-top: 1px solid #ccc;
            justify-content: space-between;
            transition: background-color 0.1s;
        }

        .column-header, .column-value {
            flex: 0 0 50px;
            text-align: center;
        }

        .item:hover {
            background-color: #e1e6e7;
        }

        .item:focus {
            background-color: #a9c3c7;
            outline: none;
        }

        .action-container {
            display: flex;
            justify-content: flex-end;
        }

        .action-button {
            padding: 3px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, opacity 0.3s;
            margin: 7px 0px;
            margin-right: 7px;
        }

        .action-button:hover {
            opacity: 0.8;
        }

        .add-btn {
            background-color: #4a4a4a;
        }

        .edit-btn {
            background-color: rgba(0, 88, 135, 0.66);
        }

        .delete-btn {
            background-color: #f44336;
        }

        .footer {
            border-top: #ccc 1.5px solid;
            cursor: initial;
        }

        .buffer {
            display: none;
        }
    </style>


    <div class="main-content">

        <!-- Headers -->
        <div class="column-headers-container">
            {#switch type}
                {#case 'crewmember'}
                    {#include $headersCrewMember /}
                {#case 'adventure'}
                    {#include $headersAdventure /}
                {#case 'meal'}
                    {#include $headersMeal /}
                {#case 'ingredient'}
                    {#include $headersIngredient /}
            {/switch}
        </div>

        <!-- Items, with or without ChildWrapper -->
        <div class="items">
            <!-- with -->
            {#if type != 'crewmember' && type != 'adventure' }

            {#for item in items}
                {#with item.getChild()}
                    {#include $li item=this /}
                {/with}
            {/for}

            <!-- without -->
            {#else}

                {#for item in items}
                    {#with item}
                        {#include $li item=this /}
                    {/with}
                {/for}
            {/if}

            {#if items.isEmpty()}
                <p>No {type} items found. Try creating one.</p>
            {/if}

        </div>

    </div>



    <footer class="footer">
        <div class="action-container">
            {#if actions.get("remove")}
                <button class="action-button delete-btn preserveFocusedClass" tabindex="0"
                        hx-delete="{actions.get("remove")}"
                        hx-confirm="Are you sure you want to delete this item?"
                        hx-vals='js:{ type: "{type}", id: document.querySelector(".focused").getAttribute("id"), parentId: "{parent.id ?: "null"}" }'
                        hx-target=".focused"
                        hx-swap="outerHTML"
                        >
                    <img width="25" height="25" class="icon" src="/icons/minus.svg"
                         alt="Remove"/>
                </button>
            {/if}
            {#if actions.get("add")}
            <button class="action-button add-btn preserveFocusedClass"
                    hx-{type.equals('crewmember') ? 'get' : 'post'}="{actions.get('add')}"
                    hx-vals='{ "callerId": "__lid_list__", "type": "{type}", "parentId": "{parent.id ?: "noParent"}"}'
                    hx-target="{type.equals('crewmember') ? '#__lid_modal__' : 'closest #__lid_list__'}"
                    hx-swap="{type.equals('crewmember') ? 'innerHTML' : 'outerHTML'}"
            >

                <img width="25" height="25" class="icon" src="/icons/plus.svg" alt="Add"/>
            </button>
            {/if}
            {#if actions.get("edit")}
            <button class="action-button edit-btn"
                    hx-get="{actions.get("edit")}"
                    hx-target="{type.equals('adventure') ? 'body' : '#__lid_modal__'}"
                    hx-vals='js:{ id: document.querySelector(".focused").getAttribute("id") }'>
                <img width="22" height="22" class="icon" src="/icons/edit.svg" alt="Edit"/>
            </button>
            {/if}
        </div>
    </footer>
    <div id="__lid_modal__"></div>
    <input class="buffer" style="display: none" id="__lid_buffer__"/>
</div>
