
{#fragment id=li rendered=false}
        <div class="list-item" tabindex="0" id="{id}"
             hx-on--after-on-load="
        event.detail.successful
        && event.detail.elt == this.closest('.list').querySelector('.list-delete-btn')
        && htmx.remove(this)"
             hx-on-click="
        const buffer = this.closest('.list').querySelector('#list-buffer');
        const editBtn = this.closest('.list').querySelector('.list-edit-btn');
        const deleteBtn = this.closest('.list').querySelector('.list-delete-btn');
        if (buffer.value != '{id}') {
            buffer.value = '{id}';
            htmx.trigger(buffer, 'valueChanged');
            if (editBtn) editBtn.setAttribute('hx-vals', JSON.stringify({ id: '{id}' }));
            if (deleteBtn) deleteBtn.setAttribute('hx-vals', JSON.stringify({ id: '{id}' }));
        }
        ">

        {#switch type}
            {#case 'crewmember'}
                {#include $columnsCrewMember item /}
            {#case 'adventure'}
                {#include $columnsAdventure item /}
            {#case 'meal'}
                {#include $columnsMeal item /}
            {#case 'ingredient'}
                {#include $columnsIngredient item /}
        {/switch}

        </div>
{/fragment}
    <!-- crewmember -->
    {#fragment id=headersCrewMember rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">age</div>
        <div class="column-header">height</div>
        <div class="column-header">weight</div>
        <div class="column-header">intensity</div>
        <div class="column-header">KCal/day</div>
    {/fragment}
    {#fragment id=columnsCrewMember rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{item.age}</div>
        <div class="column-value">{item.height}cm</div>
        <div class="column-value">{item.weight}kg</div>
        <div class="column-value">{item.activity}</div>
        <div class="column-value">{item.dailyKCalNeed}</div>
    {/fragment}
    <!-- adventure -->
    {#fragment id=headersAdventure rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
        <div class="column-header">crew size</div>
        <div class="column-header">duration</div>
    {/fragment}
    {#fragment id=columnsAdventure rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{item.weight}kg</div>
        <div class="column-value">{item.formattedEnergyDensity}</div>
        <div class="column-value">{item.crewSize}</div>
        <div class="column-value">{item.days} days</div>
    {/fragment}
    <!-- meal -->
    {#fragment id=headersMeal rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
    {/fragment}
    {#fragment id=columnsMeal rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{parent.getChildWeights().get(item.id)}kg</div>
        <div class="column-value">{item.formattedEnergyDensity}</div>
    {/fragment}
    <!-- ingredient -->
    {#fragment id=headersIngredient rendered=false}
        <div class="column-header">name</div>
        <div class="column-header">weight</div>
        <div class="column-header">KCal/Kg</div>
    {/fragment}
    {#fragment id=columnsIngredient rendered=false}
        <div class="column-value">{item.name}</div>
        <div class="column-value">{parent.getChildWeights().get(item.id)}kg</div>
        <div class="column-value">{item.FormattedEnergyDensity}</div>
    {/fragment}

<style>
    .list {
        display: block;
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #a9c3c7;
        border-radius: 5px;
        cursor: pointer;
    }

    .table-header {
        background: #dcd0c0;
        border-radius: 5px 5px 0 0;
        padding: 10px;
        font-weight: bold;
        cursor: default;
        border-bottom: #ccc 1.5px solid;
    }

    .label {
        text-align: center;
        padding: 0.2em;
        background-color: inherit;
    }

    .column-headers-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-top: 1px solid #ccc;
        justify-content: space-between;
        transition: background-color 0.1s;
    }

    .column-header, .column-value {
        flex: 0 0 50px;
        text-align: center;
    }

    .list-item:hover {
        background-color: #e1e6e7;
    }

    .list-item:focus {
        background-color: #a9c3c7;
        outline: none;
    }

    .list-action-container {
        display: flex;
        justify-content: flex-end;
    }

    .list-action-button {
        padding: 3px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s;
        margin: 7px 0px;
        margin-right: 7px;
    }

    .list-action-button:hover {
        opacity: 0.8;
    }

    .list-add-btn {
        background-color: #4a4a4a;
    }

    .list-edit-btn {
        background-color: #4a4a4a;
    }

    .list-delete-btn {
        background-color: #f44336;
    }

    .list footer {
        border-top: #ccc 1.5px solid;
    }

    .buffer {
        display: none;
    }
</style>

<div class="list">
        <div class="table-header">

        <!-- Headers -->
        <div class="column-headers-container">
            {#switch type}
                {#case 'crewmember'}
                    {#include $headersCrewMember /}
                {#case 'adventure'}
                    {#include $headersAdventure /}
                {#case 'meal'}
                    {#include $headersMeal /}
                {#case 'ingredient'}
                    {#include $headersIngredient /}
            {/switch}
        </div>
    </div>

    <!-- Items, with or without ChildWrapper -->
            <div class="list-item-container">
                <!-- with -->
                {#if type != 'crewmember' && type != 'adventure' }

                    {#for item in items}
                        {#with item.getChild()}
                            {#include $li item=this /}
                        {/with}
                    {/for}

                <!-- without -->
                {#else}

                    {#for item in items}
                        {#with item}
                            {#include $li item=this /}
                        {/with}
                    {/for}
                {/if}
            </div>

    <footer>
        <div class="list-action-container">
            {#if actions.get("remove")}
                <button class="list-action-button list-delete-btn"
                        hx-delete="{actions.get("remove")}"
                        hx-confirm="Are you sure you want to delete this item?"
                        hx-vals='{ "id": ""}'>
                    <img width="25" height="25" class="icon" src="/icons/minus.svg"
                         alt="Remove"/>
                </button>
            {/if}
            {#if actions.get("edit")}
                <button class="list-action-button list-edit-btn"
                        hx-get="{actions.get("edit")}"
                        hx-target="#edit-modal"
                        hx-vals='{ "id": ""}'>
                    <img width="22" height="22" class="icon" src="/icons/edit.svg" alt="Edit"/>
                </button>
            {/if}
            {#if actions.get("add")}
                <button class="list-action-button list-add-btn"
                        hx-post="{actions.get("add")}"
                        hx-vals='{ "type": "{type}", "parentId": "{parent.id ?: noParent}"}'
                        hx-select=".list-item-container"
                        hx-target=".list-item-container"
                >
                    <img width="25" height="25" class="icon" src="/icons/plus.svg" alt="Add"/>
                </button>
            {/if}
        </div>
    </footer>
    <input class="buffer" style="display: none" id="list-buffer"/>
    {#if items.isEmpty()}
        <p>No {type} items found. Try creating one.</p>
    {/if}
</div>
