<div class="component" id="crew-member-form">
    <style>
        .component {
            font-family: Arial, sans-serif;
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 400px;
            cursor: initial;
        }

        .content {
            background-color: #ffffff;
            border: 1px solid #a9c3c7;
            border-radius: 5px;
            padding: 20px;
            width: 60%;
            max-width: 600px;
            height: 600px;
            display: flex;
            flex-direction: column;
        }

        .header h2 {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .header h2 input {
            font-size: 1.0em;
            padding: 5px;
            margin-left: 4px;
            border: none;
            background-color: transparent;
            color: #4a4a4a;
            transition: color 0.3s ease;
        }

        .header h2 input::placeholder {
            color: rgba(74, 74, 74, 0.7);
            transition: color 0.3s ease;
        }

        .header h2 input:hover,
        .header h2 input:focus {
            outline: none;
            color: #2a2a2a;

        }

        .header h2 input:hover::placeholder,
        .header h2 input:focus::placeholder {
            color: rgba(74, 74, 74, 0.9);
        }

        .close {
            background: none;
            border: none;
            font-size: 1.5em;
            cursor: pointer;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1em;
            border-bottom: 1px solid #ccc;
            height: 1em;
        }

        .body {
            margin-top: 20px;
            display: flex;
            flex: 1;
            height: 100%;
            min-height: 0; /* 0 = No min-height. Tells body that it should not adapt to its content, effectively makes it not expand when content grows, instead aligning to the max-height property on parent .content. */
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .nutrient-input {
            margin-bottom: 15px;
        }

        .nutrient-input label {
            display: block;
            margin-bottom: 5px;
        }

        .nutrient-input input,
        .nutrient-input select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }



        .button {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.1s;
        }

        .button.submit {
            background-color: #4CAF50;
            color: white;
        }

        .submit > span {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .submit > span > span {
            margin-right: 5px;
        }


        .button.submit:hover {
            opacity: 0.8;
        }


        .column-left {
            padding-right: 10px;
            flex:0.4;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .column-right {
            padding-left: 10px;
            border-left: #ccc solid 1px;
            flex:0.6;
            height: 100%;
        }

        .list-area {
            display: flex;
            flex:1;
            min-height: 0;
        }

    </style>
    <div class="content">

        <div class="header">
            <h2 class="header-title">MEAL<input name="name" type="text" value="{meal.name}" title="Click to modify the name."
                           placeholder="Enter meal name" autocomplete="off" hx-put="/objects/meal/{meal.id}/input"
                           hx-trigger="blur changed, keyup[key == 'Enter'] changed"></h2>
            <button class="close"
                    hx-on--before-request="htmx.remove(htmx.find('#crew-member-form')); event.preventDefault();"
                    hx-get="foo"
                    hx-trigger="click, keyup[event.key == 'Escape'] from:document">&times;
            </button>
        </div>

        <div class="body">
            <div class="column-left">

                <div class="nutrient-input">
                    <label for="carbs">RATIO</label>
                    <input name="meal-ratio" type="number" id="ratio-input" hx-put="/objects/{adventure.id}/input"
                           hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                           hx-on-input="if (this.value < 1) this.value = 1; else if (this.value > 100) this.value = 100;">
                </div>

                <label>INGREDIENTS</label>
                {! List for parent meal with type ingredient !}
                <div id="ingredient-list" class="list-area" hx-get="/ui/list/{meal.id}/ingredient" hx-trigger="load, evt__crud_ingredient from:body">
                    <p>Error, could not load list for path: /ui/list/{meal.id}/ingredient</p>
                </div>
            </div>

            <div class="column-right">

                <div class="section-content"
                     hx-get="/ui/modal/ingredient"
                     hx-vals='js:{ id: event.detail.id, type: "ingredient"}'
                     hx-trigger="ingredient-item-clicked"
                     id="info-container-ingredient">
                    <p>Select an ingredient to modify it.</p>
                </div>

                {#fragment id = ingredientDetails rendered = false}

                <div class="section-banner">
                    <h2>INGREDIENT<input name="name" type="text" value="{ingredient.name}" id="ingredient-name"
                                         placeholder="Enter ingredient name" autocomplete="off"
                                         hx-put="objects/ingredient/{ingredient.id}/input"
                                         hx-trigger="blur changed, keyup[key == 'Enter'] changed"

                        ></h2>
                </div>
                <div class="section-content ingredient-details">

                    <div class="nutrient-input">
                        <label for="carbs">CARBS</label>
                        <input name="carbs" type="number" id="carbs-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;">

                    </div>
                    <div class="nutrient-input">
                        <label for="protein">PROTEIN</label>
                        <input name="protein" type="number" id="protein-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;">
                    </div>
                    <div class="nutrient-input">
                        <label for="fat">FAT</label>
                        <input name="fat" type="number" id="fat-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;">
                    </div>
                    <div class="nutrient-input">
                        <label for="water">WATER</label>
                        <input name="water" type="number" id="water-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;" value="">
                    </div>
                    <div class="nutrient-input">
                        <label for="fiber">FIBER</label>
                        <input name="fiber" type="number" id="fiber-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;">
                    </div>
                    <div class="nutrient-input">
                        <label for="salt">SALT</label>
                        <input name="salt" type="number" id="salt-input" hx-put="/objects/ingredient/{ingredient.id}/input"
                               hx-trigger="blur changed, keyup[key == 'Enter'] changed"
                               hx-on-input="if (this.value < 1) this.value = 1;">
                    </div>

                </div>

                {/fragment}

            </div>



        </div>

        <div class="footer">
            <button type="submit" class="button submit"
                    hx-on--before-request="htmx.remove(htmx.find('#crew-member-form')); event.preventDefault();"
                    hx-get="foo"
                    hx-trigger="click, keyup[event.key == 'Escape'] from:document"
            >Done &#x2713;</button>
        </div>

    </div>




</div>