body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0ece3;
	/* Light beige background for the whole page */
	user-select: none;
}

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0ece3;
        /* Light beige background for the whole page */
        user-select: none;
    }

.page-banner {
    background-color: #a9c3c7;
    /* Light blue for the page banner */
    color: #4a4a4a;
    /* Dark grey text */
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.page-banner h1 {
    margin: 0;
    font-size: 1.5em;
}

#adventure-modal-btn {
    color: grey;
    background-color: beige;
    border: none;
    border-color: #4a4a4a;
    border-radius: 5px;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 0.1s;
}

.adventure-modal-btn:hover {
        opacity: 0.5;
    }